<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.streamui.autosync</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>cd "/Users/erik.gundersenschibsted.com/Documents/Documents - Cowork/01 - Projects/StreamUI/StreamUI" &amp;&amp; ./auto-sync.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/streamui-autosync.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/streamui-autosync-error.log</string>
</dict>
</plist>
